@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-100: #faf5f3;
  --neutral-200: #e6e1df;
  --neutral-700: #385159;
  --neutral-900: #062630;

  --salmon-50: hsl(22.2, 100%, 96.9%);
  --salmon-100: hsl(22.2, 100%, 91%);
  --salmon-500: hsl(21.8, 98.6%, 71.6%);

  /* typography */
}

@layer utilities {
  .gradient-light {
    background-image: 'linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%)';
  }
}

.preset-7 {
  @apply text-sm leading-[120%] tracking-[-1px] font-semibold font-mono;
}

.my-text-gradient {
  @apply bg-[linear-gradient(107deg,#FF9A60_-11.37%,#062630_61.84%)];
}

.hero-bg,
.grid-bg {
  background-image: url('/images/pattern-light-bg.svg');
}
